*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}
.shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
}
.top-hero{
    position: relative;
    height: 200px;
    background-size: cover;
    z-index: 0;
}
.top-hero-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3.6rem;
    text-transform: uppercase;
}

.color-green{
    color: #1fbd1f;
}

.nav-link{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
}
.navbar-brand{
    font-size:2.5rem;
}
.navbar-toggler{
    font-size: 2rem;
}

header{
    font-size: 2rem;
}
.carousel-item{
    height: 400px;
    position: relative;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
@media(min-width: 1440px){
    .carousel-item{
        height: 600px;
    }
}
.carousel-img-one{
    background-image: url("../images/1.jpg")
}
.carousel-img-two{
    background-image: url("../images/2.jpg")
}
.carousel-img-three{
    background-image: url("../images/3.jpg")
}

.home-columns{
    padding: 5em 0;
}
.home-columns .iconify{
    font-size: 3rem;
}
.home-columns p{
    font-size: 1.6rem;
}

.home-passion{
    background-image: url("../images/greenhouse.jpg");
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.home-history h3{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}
.home-history p{
    font-size: 1.6rem;
}

footer{
    padding: 15px 0;
}

.aboutus-hero{
    background-image: url("../images/about/flowers.jpg");
    background-position: center;
}

.aboutus-info-img{
    background-position: center;
    background-size: cover;
    max-height: 700px;
}